<!DOCTYPE html>
<html>

	<%= render 'layouts/partials/head', specific_css_file_link: capture { %>
		<link rel="stylesheet" type="text/css" href="css/styles_homepage.css">
	<% } %>
	<% # do end syntax doesn't work in the above %>


	<body id="homepage">

		<%= render 'layouts/partials/navbar', right_side_menu: true %>
		<%= render 'static_pages/home_partials/cover' %>
		<%= render 'static_pages/home_partials/categories' %>
		<%= render 'static_pages/home_partials/about_us' %>
		<%= render 'static_pages/home_partials/trending' %>
		<%= render 'static_pages/home_partials/speciality' %>
		<%= render 'static_pages/home_partials/counters' %>
		<%= render 'static_pages/home_partials/testimonials' %>
		<%= render 'static_pages/home_partials/contact_form' %>
		<%= render 'layouts/partials/footer' %>

		<%= render 'layouts/partials/javascripts', specific_js_file_link: capture { %>
			<script type="text/javascript" src="js/script.js"></script>
		<% } %>
		<% # do end syntax doesn't work in the above %>

	</body>
</html>
