<!DOCTYPE html>
<html>

  <%= render 'layouts/partials/head', specific_css_file_link: capture { %>
    <link rel="stylesheet" type="text/css" href="css/styles_otp.css">
  <% } %>
  <% # do end syntax doesn't work in the above %>

  <body id="otp_page">
    <%= render 'layouts/partials/navbar', right_side_menu: false %>
    <%= render partial: "layouts/partials/flash", flash: flash %>

  <!--====otp page start=====-->

  <div class="container" style="margin-bottom:50px;">
    <div class="page-header">
      <h3 style="text-align:center; font-weight:bold; margin-top:100px">All set...Go!</h2>
      <p style="text-align:center">We need your mobile number to get in touch with you!</p>
    </div>
    <hr class="style2" style="margin-bottom:50px">
    <div class="row" style="background-color:#eaebed">
      <div class="col-sm-4"></div>

      <div class="col-sm-6 col-sm-border">
        <h4 style="font-weight:bold; margin-top:30px">Verify your mobile</h4>
        <hr>
        <form id="enter_mobile_number" action="" method="POST">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
					<div class="form-group">
            <div class="row">
              <label class="col-md-5 col-form-label" style="font-size:13px">Enter mobile number</label>
              <div class="col-md-7"></div>
            </div>
            <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-8">
                      <input type="text" class="form-control form-control-sm" placeholder="" name="mobile_number">
                    </div>
                    <div class="col-md-4">
                      <button id="mobile_number_submit" class="btn btn-danger btn-sm finish_login_btn" type="submit" name="" style="margin-top:2px">send OTP</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-6"></div>
              </div>
            </div>
        </form>
        <form id="enter_otp" action=<%= mobile_number_verify_otp_path %> method="POST">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <div class="form-group">
              <div class="row">
                <label class="col-md-5 col-form-label" style="font-size:13px">Enter OTP here</label>
                <div class="col-md-7"></div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-7">
                      <input type="tel" name="otp" class="form-control form-control-sm" placeholder="" maxlength="6">
                    </div>
                    <div class="col-md-5">
                      <button class="btn btn-danger btn-sm finish_login_btn" type="submit" name="" style="margin-top:2px">Verify</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-6"></div>
              </div>
      			</div>
          </form>
        </div>
        <div class="col-sm-2"></div>
    </div>
  </div>

  <!--====otp page end=====-->

  <%= render 'layouts/partials/footer' %>

  <%= render 'layouts/partials/javascripts', specific_js_file_link: capture { %>
    <script type="text/javascript" src="js/mobile_number.js"></script>
  <% } %>

  </body>
</html>
