<!DOCTYPE html>
<html>
  <%= render 'layouts/partials/head', specific_css_file_link: capture { %>
    <link rel="stylesheet" type="text/css" href="css/checkout.css">
    <link rel="stylesheet" href="css/pikaday.css">
  <% } %>
  <% # do end syntax doesn't work in the above %>

  <body id="checkout">
    <%= render 'cart/show_partials/navbar' %>
    <%= render partial: "layouts/partials/flash", flash: flash %>
    <%= render 'cart/show_partials/order_form' %>

    <%= render 'layouts/partials/javascripts', specific_js_file_link: capture { %>
      <script type="text/javascript" src="js/pikaday.js"></script>
      <script type="text/javascript">
        var picker = new Pikaday(
        {
            field: document.getElementById('datepicker'),
            firstDay: 1,
            minDate: new Date(),
            maxDate: new Date(2020, 12, 31),
            yearRange: [2000,2020]
        });
      </script>
      <script type="text/javascript">
      $(document).ready(function() {
      $("#fixDelTime").hide();
            $("input[name=delTime]").on("change", function() {

               var test = $(this).val();
               if (test==9){
                   $("#fixDelTime").show();
               }else {
                   $("#fixDelTime").hide();
               }
            });
          });
      </script>
    <% } %>
  </body>
</html>
