<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/partials/head', specific_css_file_link: capture { %>
    <link rel="stylesheet" type="text/css" href="css/styles_cake_pdt_page.css">
  <% } %>
  <% # do end syntax doesn't work in the above %>

  <body id="cake_product_page">

    <%= render 'layouts/partials/navbar_without_menu', right_side_menu: true %>
    <!-- The above is different from the community navbar. -->
    <%= render 'products/index_partials/offers' %>
    <%# render 'products/index_partials/search_city_and_place' %>
    <%= render 'products/index_partials/sidebar' %>
    <%= render 'products/index_partials/products' %>
    <%= render 'layouts/partials/footer' %>

    <%= render 'layouts/partials/javascripts', specific_js_file_link: capture { %>
      <script type="text/javascript" src="js/main-pdt-page.js"></script>
    <% } %>

  </body>
</html>
