<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 col-sm-offset-2 col-md-offset-3">

    <h1 class='text-center'>New Product</h1>

    <%= simple_form_for(@product, html: { class: 'form-horizontal', multipart: true }) do |f| %>

      <%= f.input :name %>
      <%= f.input :price %>
      <%= f.input :weight, label: "Weight (in kg)", as: :string %>
      <%= f.input :earliest_delivery, label: "Earliest Delivery (in days)" %>
      <%= f.association :category %>
      <%= f.input :image, as: :file %>

      <%= f.submit %>

    <% end %>


    <%= link_to 'All products', products_path %>

  </div>
</div>
